root = true

[*.{ts,js}]
tab_width = 4
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml,json,pug}]
tab_width = 2

[*.{env,.md,apib}]
insert_final_newline = true
trim_trailing_whitespace = true
